<!DOCTYPE html>
{% extends "index.html" %}

{% block body %}
<head>
	<title>4Word BETA</title>
	<!-- Bootstrap imports -->
	<link rel="stylesheet" type="text/css" href="../static/bootcss/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/bootcss/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="../static/customcss/fourword.css">
</head>
<body>
<div align="center"><img src="https://cdn4.iconfinder.com/data/icons/shravan-month/64/23_thirdeye_lord_shiva_tilak_spiritual_worship_shravana-512.png">
</div>
<p style="color: #96d529; text-align: center; ">You lost mate?</p>
</body>
{% endblock %}